{% extends 'base_admin.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="card-header">Update Comment</div>

    <div class="card-body">
    {{ include('comment/_form.html.twig') }}
    </div>

    <div class="card-footer">
        <a href="{{ path('comment_index') }}">back to list</a>
    </div>
{% endblock %}
