{% extends 'base_user.html.twig' %}
{% block body %}
    {% for game in liveGames %}
        <!-- zrobic miniaturki i krotki opisy spotkan do listowania -->
        <br/>
     {{ game.gameDateTime|date('Y-m-d H:i:s') }}
        {{ game.homeTeam }} vs {{ game.awayTeam }}
            <!-- przycisk od przejscia do szcegolow moderowanego meczu -->
            <a href="{{ path('index_live_game_show' , {'id':game.id, 'game':game}) }}">szczegoly</a>
    {% endfor %}
{% endblock %}