.event-card {
    display: block;
}

.yellow-card {
    background-color: #fffdc1;
}

.red-card {
    background-color: #ffcec1;
}


label, legend {
    font-weight: bold !important;
}

label::after, legend::after {
    content: ':';
}

.pills-small > .card-header-pills > li.active {
    background-color: #5969ff;
} 
