<form method="post" action="{{ path('dictionary_events_type_delete', {'id': events_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ events_type.id) }}">
    <button class="btn">Delete</button>
</form>
