{% extends 'base.html.twig' %}

{% block title %}New GameTeam{% endblock %}

{% block body %}
    <h1>Create new GameTeam</h1>

    {{ include('game_team/_form.html.twig') }}

    <a href="{{ path('game_team_index') }}">back to list</a>
{% endblock %}
