{% extends 'base.html.twig' %}

{% block title %}New GameTeamSquad{% endblock %}

{% block body %}
    <h1>Create new GameTeamSquad</h1>

    {{ include('game_team_squad/_form.html.twig') }}

    <a href="{{ path('game_team_squad_index') }}">back to list</a>
{% endblock %}
