<form method="post" action="{{ path('dictionary_formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('{{ 'global.actions.deleteMessage'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="dropdown-item text-danger">{{ 'global.delete' |trans }}</button>
</form>
